@font-face {
	font-family: 'Raleway'; 
	src: local('Raleway-Regular'), 
		url(/Raleway-Regular.ttf); 
}
@font-face {
	font-family: 'Montserrat'; 
	src: local('Montserrat-Regular'), 
		url(/Montserrat-Regular.ttf); 
}
@font-face {
	font-family: 'OpenSans'; 
	src: local('OpenSans-Regular'), 
		url(/OpenSans-Regular.ttf); 
}

body{
background-color: #FFE4C4;
width: 1440px;
}
ul{
    list-style-type:none;
}

a{
    color:black;
    text-decoration: none;
}
.fight{
    text-align: center;
}
.forest{
    text-align: end;
}
.passion{
    text-align: justify;
}
img{
    height: 400px;
    width: 300px;
    border-radius: 70px;
}
span{
    font-weight: 600;
}
.fight_film{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.forest_film{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.passion_film{
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    font-style: normal;
}